{% extends 'base.html' %}

{% block title %}
  List of files
{% endblock %}

{% block header %}
  List of files on the server
{% endblock %}

{% block body %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}} row justify-content-center">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
{% endwith %}

  <div class="container">
    <div class="row">
      <div class="col-sm-11">
        <table class="table table">
          <tbody>
            {% for file in files %}
              <tr>
                <td>{{ file }}</td>
                <td><a href="javascript:del('{{ file }}')" class="btn btn-danger btn-sm m-1">Delete file</a></td>
                <td> <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('read_file', file_name=file) }}">Read file</a> </td>
                <td> <a class='btn btn-secondary btn-sm mt-1 mb-1 {{"visible" if ".txt" in file else "invisible"}} '
                href="{{ url_for('update_file', file_name=file) }}">Update content</a> </td>
                <td> <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('get_meta_data', file_name=file) }}">Get meta data of the file</a> </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
     <nav>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li {% if cur_page == 0 %} class="page-item disabled" {% endif %}>
                <a class="page-link" href="./?page={{cur_page-1}}">Previous</a>
              </li>
                {% if cur_page != 0 %}
                  <li  class="page-item">
                    <a class="page-link" href="./?page=0">0</a>
                  </li>
                {% endif %}
              {% for page in count_files %}
              <li {% if page == cur_page %} class="page-item active" {% endif %}>
                <a class="page-link" href="./?page={{page}}">{{page}}</a>
              </li>
              {% endfor %}
              <li class="page-item"><a class="page-link" href="#">.....</a></li>
              <li class="page-item">
                <a class="page-link" href="./?page={{last_page}}">{{ last_page }}</a>
              </li>
              <li {% if last_page == cur_page %} class="page-item disabled" {% endif %}>
                <a class="page-link" href="./?page={{cur_page}}">Next</a>
              </li>
            </ul>
          </nav>
    </nav>
  </div>
<script type="text/javascript">

function del(file){
    if (confirm("Are you sure you want to delete '" + file + "'")){
        window.location.href = '/delete/' + file
    }
}
</script>
{% endblock %}