{% extends 'base.html' %}

{% block title %}
  Upload file
{% endblock %}

{% block header %}
  Upload files on the server
{% endblock %}


{% block body %}

<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="row justify-content-center">
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
          {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <div class="row justify-content-center">
    <form method="POST" action="{{ url_for('upload_file') }}" enctype=multipart/form-data>
        <label>Choose file for uploading</label><br>
      <input type=file id="choose-file" name=file>
      <input type=submit value=Upload>
    </form>
  </div>
</div>
{% endblock %}